In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Dataset/Mlbb_Heroes.csv')

In [3]:
df['Hero_Defense'] = df['Mag_Defence'] + df['Phy_Defence']
pd.set_option('display.float_format', '{:.2f}'.format)
df['Win_Rate'] = df['Esport_Wins'] / (df['Esport_Wins'] + df['Esport_Loss'])
df['Hard_Engage'] = (df['Phy_Damage'] + df['Mov_Speed'])
df['Team_Fight'] = (df['Phy_Damage'] + df['Hp'] + df['Hero_Defense'])
df = pd.concat([
    df[df['Primary_Role'] == 'Marksman'], 
    df[df['Primary_Role'] == 'Mage'], 
    df[df['Primary_Role'] == 'Fighter'], 
    df[df['Primary_Role'] == 'Tank'], 
    df[df['Primary_Role'] == 'Support'], 
    df[df['Primary_Role'] == 'Assassin']
    ], axis=0).reset_index(drop=True)
df.index += 1

In [4]:
df

,Name,Title,Voice_Line,Release_Date,Primary_Role,Secondary_Role,Lane,Hp,Hp_Regen,Mana,...,Mag_Damage,Phy_Defence,Mag_Defence,Mov_Speed,Esport_Wins,Esport_Loss,Hero_Defense,Win_Rate,Hard_Engage,Team_Fight
1,Beatrix,Dawnbreak Soldier,"Time and tide wait for no man, not girl.",2021-03-19,Marksman,NaN,Gold Lane,2550,7.20,0,...,0,20,15,257,1016,969,35,0.51,359,2687
2,Brody,The Lone Star,Pain is the proof the I'm still alive.,2020-10-16,Marksman,NaN,Gold Lane,2490,7.20,435,...,0,20,15,253,470,476,35,0.50,358,2630
3,Bruno,Mech Protector,Primary Role,2016,Marksman,NaN,Gold Lane,2522,6.00,439,...,0,17,15,240,154,154,32,0.50,380,2694
4,Claude,Partners in Crime,"Come on Dexter, it's our showtime!",2018-08-07,Marksman,NaN,Gold Lane,2370,8.00,450,...,0,14,15,240,618,583,29,0.51,337,2496
5,Clint,Wild Wanderer,Chivalry is dead. And I will revive it.,2016,Marksman,NaN,Gold Lane,2530,7.20,450,...,0,20,15,240,540,536,35,0.50,355,2680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Lancelot,Blade of Roses,Thorns remain should petals fall.,2017,Assassin,NaN,Jungler,2549,7.00,450,...,0,16,15,260,603,568,31,0.51,384,2704
111,Ling,Cyan Finch,Still swords run deep.,2019,Assassin,NaN,Jungler,2578,7.80,100,...,0,18,15,260,700,684,33,0.51,385,2736
112,Natalia,Bright Claw,Primary Role,2016-12,Assassin,NaN,Jungler,2639,7.00,486,...,0,18,15,260,173,173,33,0.50,381,2793
113,Selena,Abyssal Witch,Secondary Role,2018-07-18,Assassin,Mage,Jungler,2401,6.80,490,...,0,15,15,240,493,531,30,0.48,350,2541
114,Yi_Sun-Shin,Paenlong Legend,Secondary Role,2017,Assassin,Marksman,Jungler,2570,7.20,438,...,0,22,15,250,443,383,37,0.54,350,2707

In [5]:
df['Lane']

,Name,Title,Voice_Line,Release_Date,Primary_Role,Secondary_Role,Lane,Hp,Hp_Regen,Mana,...,Mag_Damage,Phy_Defence,Mag_Defence,Mov_Speed,Esport_Wins,Esport_Loss,Hero_Defense,Win_Rate,Hard_Engage,Team_Fight
1,Beatrix,Dawnbreak Soldier,"Time and tide wait for no man, not girl.",2021-03-19,Marksman,NaN,Gold Lane,2550,7.20,0,...,0,20,15,257,1016,969,35,0.51,359,2687
2,Brody,The Lone Star,Pain is the proof the I'm still alive.,2020-10-16,Marksman,NaN,Gold Lane,2490,7.20,435,...,0,20,15,253,470,476,35,0.50,358,2630
3,Bruno,Mech Protector,Primary Role,2016,Marksman,NaN,Gold Lane,2522,6.00,439,...,0,17,15,240,154,154,32,0.50,380,2694
4,Claude,Partners in Crime,"Come on Dexter, it's our showtime!",2018-08-07,Marksman,NaN,Gold Lane,2370,8.00,450,...,0,14,15,240,618,583,29,0.51,337,2496
5,Clint,Wild Wanderer,Chivalry is dead. And I will revive it.,2016,Marksman,NaN,Gold Lane,2530,7.20,450,...,0,20,15,240,540,536,35,0.50,355,2680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Lancelot,Blade of Roses,Thorns remain should petals fall.,2017,Assassin,NaN,Jungler,2549,7.00,450,...,0,16,15,260,603,568,31,0.51,384,2704
111,Ling,Cyan Finch,Still swords run deep.,2019,Assassin,NaN,Jungler,2578,7.80,100,...,0,18,15,260,700,684,33,0.51,385,2736
112,Natalia,Bright Claw,Primary Role,2016-12,Assassin,NaN,Jungler,2639,7.00,486,...,0,18,15,260,173,173,33,0.50,381,2793
113,Selena,Abyssal Witch,Secondary Role,2018-07-18,Assassin,Mage,Jungler,2401,6.80,490,...,0,15,15,240,493,531,30,0.48,350,2541
114,Yi_Sun-Shin,Paenlong Legend,Secondary Role,2017,Assassin,Marksman,Jungler,2570,7.20,438,...,0,22,15,250,443,383,37,0.54,350,2707

In [6]:
#fitness Function
def fitness_starg1(df,team):
    ind1 = 0
    ind2 = 0
    for h in team:
        ind1 += df['Hard_Engage'][h]
        # ind2 += df['Win_Rate'][h]
        
    fit = ind1
    return fit

#Init population
import random
def generate_individual(chromosome_length):
    def random_integer_except(excluded_value):
        while True:
            random_value = random.randint(44, 94)  # Ganti rentang sesuai kebutuhan Anda
            if random_value != excluded_value:
                return random_value
    # Fungsi ini menghasilkan satu individu acak dengan panjang kromosom tertentu.
    individual= [0]*chromosome_length
    individual[0] = random.randint(1,18)
    individual[1] = random.randint(19,43)
    individual[2] = random.randint(44,76)
    individual[3] = random.randint(77,101)
    individual[4] = random.choice([random_integer_except([individual[2],individual[3]]), random.randint(102,114)])

    return individual

def initialize_population(population_size, chromosome_length):
    # Fungsi ini menghasilkan populasi awal dengan sejumlah individu.
    return [generate_individual(chromosome_length) for _ in range(population_size)]

#selection
import heapq
def selection(num_select, population, fit_value):
    fit_selected = heapq.nlargest(num_select,fit_value)
    parents1= population[fit_value.index(fit_selected[0])]
    parents2= population[fit_value.index(fit_selected[1])]
    parents3= population[fit_value.index(fit_selected[2])]
    parents4= population[fit_value.index(fit_selected[3])]
    # parents= [parents1, parents2, parents3, parents4]
    return [parents1, parents2, parents3, parents4]

#cross-over
def crossover_4_parents(parent1, parent2, parent3, parent4):
    # Menghitung panjang kromosom
    chromosome_length = len(parent1)

    # Memilih dua titik crossover acak
    crossover_point1 = random.randint(1, chromosome_length - 1)
    crossover_point2 = random.randint(1, chromosome_length - 1)

    # Memastikan titik crossover1 dan crossover2 berbeda
    while crossover_point1 == crossover_point2:
        crossover_point2 = random.randint(1, chromosome_length - 1)

    # Mengurutkan titik crossover
    crossover_point1, crossover_point2 = min(crossover_point1, crossover_point2), max(crossover_point1, crossover_point2)

    # Membuat empat anak baru dengan menggabungkan gen dari empat orangtua
    child1 = parent1[:crossover_point1] + parent2[crossover_point1:crossover_point2] + parent3[crossover_point2:] + parent4[crossover_point2:]
    child2 = parent3[:crossover_point1] + parent4[crossover_point1:crossover_point2] + parent1[crossover_point2:] + parent2[crossover_point2:]
    child3 = parent2[:crossover_point1] + parent1[crossover_point1:crossover_point2] + parent4[crossover_point2:] + parent3[crossover_point2:]
    child4 = parent4[:crossover_point1] + parent3[crossover_point1:crossover_point2] + parent2[crossover_point2:] + parent1[crossover_point2:]

    child=[child1, child2, child3, child4]
    return child

#mutation_function
def func_mutation(team):
    wr=0
    for h in team:
        wr += df['Win_Rate'][h]

    wr = wr/5
    return wr
#mutation_percent_gens

In [7]:
import numpy as np

def GA_MLBB(dataset, generations, init_pop):
    rekap= []
    population = initialize_population(init_pop, 5)
    # fit_value = []
    # for individual in population:
    #     a= fitness_starg1(dataset, individual)
    #     fit_value.append(a)
    # fit_value

    for i in range(generations):
        fit_value = []
        for individual in population:
            a= fitness_starg1(dataset, individual)
            fit_value.append(a)
        
        #select parent
        parents= selection(num_select= 4, population= population, fit_value= fit_value)

        child= crossover_4_parents(parents[0], parents[1], parents[2], parents[3])

        #add child ke population
        population.extend(child)

        #counting win rate value
        wr_value = []
        for individual in population:
            a= func_mutation(individual)
            wr_value.append(a)
        
        #mutasi dan hasil mutasi
        mutation_result= [value for value in wr_value if value > 0.51]
        if len(mutation_result)<=4:
            mutation_result = wr_value.sort(reverse=True)[0:4]

        new_pop= []
        index =[]
        for i in mutation_result:
            # ind = wr_value.index(i)
            index.append(wr_value.index(i))
        
        for i in index:
            new_pop.append(population[i])
        
        population= new_pop
        
        #Rekap rata2 fitnes value per generasi
        fit_rekap = []
        for individual in population:
            a= fitness_starg1(dataset, individual)
            fit_rekap.append(a)
        
        rekap.append(np.mean(fit_rekap))

    return population, rekap

In [8]:
#Test GA
# result= GA_MLBB(df, 10, 10)

result, rekap = GA_MLBB(df, 20, 10)
fit_result = []
for individual in result:
    fit_result.append(fitness_starg1(df, individual))

print(fit_result)
print(max(fit_result))

[1787, 1879, 2603, 2608, 2607, 2610, 4075, 4118, 4075, 4132, 7431, 7505, 7436, 7505, 8243, 8186, 8243, 8181, 11199, 11202, 11199, 11197, 12303, 12344, 12344, 12298, 12717, 12688, 12717, 12683, 16835, 16815, 16835, 16810, 17581, 17585, 17581, 17580, 22094, 22066, 22066, 22089, 22467, 22451, 22462, 22451, 36716, 36691, 36711, 36691, 70749, 70844, 70744, 70844, 106778, 106791, 106778, 106786, 147237, 147329, 147232, 147329, 224082, 224215, 224082, 224210, 360166, 360369, 360161, 360369, 499709, 499830, 499709, 499825, 829202, 829567, 829197, 829567, 1403127, 1403854, 1403127, 1403849]
1403854

In [9]:
rekap

[2349.0,
 3049.4,
 4312.214285714285,
 5179.111111111111,
 6273.681818181818,
 7204.2307692307695,
 7937.166666666667,
 8982.64705882353,
 9887.815789473685,
 11048.857142857143,
 12040.934782608696,
 14013.84,
 18219.87037037037,
 24327.689655172413,
 32260.209677419356,
 43889.72727272727,
 61968.385714285716,
 85633.24324324324,
 123774.26923076923,
 186199.39024390245]